<!-- algunos estilos de bootstrap y fontawesome -->
<!-- contenedor de bienvenida -->
<div class="container d-flex mt-3">
  <div class="texto d-flex flex-column justify-content-end mt-5">
    <h3>
      Lista tus tareas  y
      <small class="text-body-secondary text-center text-primary-emphasis">Manten el orden</small>
    </h3>
    <p class="mt-3">Organiza tu día de manera sencilla y eficiente con nuestra aplicación de To-Do List. Agrega, edita y marca tareas como completadas para mantenerte enfocado en lo que realmente importa.
      ¡Empieza ahora y toma el control de tu productividad!</p>
    <button type="button" routerLink='/login' >Empieza Ahora!</button>
  </div>
  <img src="/home-img.svg" class="img-fluid float-end"
    alt="imagen de portada, mujer trabajando en su laptop">
</div>

<!-- segundo contenedor-->
<div class="second-div d-flex mt-5 flex-row-reverse justify-content-center gap-5">
  <div class="texto d-flex flex-column justify-content-start mt-5 ">
    <h3>- Cosas que debo hacer</h3>
    <ul class="p-2">
      <li class="p-1">Levantarse temprano</li>
      <li class="p-1">Desayunar</li>
      <li class="p-1">Estudiar</li>
      <li class="p-1">Trabajar</li>
      <li class="p-1">Comer</li>
      <li class="p-1">Descansar</li>
      <li class="p-1">Salir</li>
      <li class="p-1">Bailar</li>
      <li class="p-1">Jugar</li>
      <li class="p-1">Limpiar</li>
    </ul>
  </div>
  <img src="/home-second-div.jpg" class="img-fluid float-start rounded"
    alt="imagen de un cuaderno con una lista de tareas">
</div>

<!-- tercer contenedor-->
<div class="parent-div-img">
  <h3>¡Ya no más lapiz y papel!</h3>
  <div class="third-div d-flex justify-content-center gap-5">
    <img src="/home-third-div_1.png" class="img-fluid float-start mt-3 rounded "
      alt="imagen de cuaderno con lista de tareas">

      <img src="/home-third-div_2.png" class="img-fluid float-start mt-3 rounded "
      alt="imagen de hombre escribiendo tareas en su cuaderno">

      <img src="/home-third-div_3.png" class="img-fluid float-start mt-3 rounded "
      alt="imagen de muchas notas en una pared">
  </div>
</div>

<!-- pie de pagina-->
<footer class="footer fixed">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-12 text-center data">
        <p>Todos los derechos de autor reservados&copy; 2025 || created by Wilnel Pérez Software Developer</p>
        <h6>Contacts:</h6>
        <a href="https://github.com/wil-perez12" class="mx-2"><i class="fa-brands fa-github"></i></a>
        <a href="mailto:perezwilnel12@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      </div>
    </div>
  </div>
</footer>
